@font-face { font-family: montserrat-light; 
			 src: url('../font/Montserrat-Light.ttf'); } 
@font-face { font-family: montserrat-regular; 
			 src: url('../font/Montserrat-Regular.ttf'); } 
@font-face { font-family: montserrat-semibold; 
			 src: url('../font/Montserrat-SemiBold.ttf'); } 
@font-face { font-family: opensans-light; 
			 src: url('../font/OpenSans-Light.ttf'); } 
@font-face { font-family: opensans-regular; 
			 src: url('../font/OpenSans-Regular.ttf'); } 
@font-face { font-family: opensans-semibold; 
			 src: url('../font/OpenSans-SemiBold.ttf'); } 
@font-face { font-family: montserrat-semibolditalic; 
			 src: url('../font/Montserrat-SemiBoldItalic.ttf'); } 			 

body{
	background-color: #f2f2f2;
}
#header{
	background-image: url("../img/Layer_6.png");
	width: 100%;
	height: 700px;
	background-size: cover;
}
.teks-header{
	padding-top: 150px;
	padding-left: 80px;
	color:white;
}
.teks-header .fas{
	padding-left: 8px;
}
.teks-header .btn{
	margin-top: 30px;
	background-color: #37a7ff;
	padding: 10px 50px 10px 50px;
	border-radius: 25px;
	border:none;
}
.teks-header h1{
	font-size: 60px;
}
.montserrat-light{
	font-family: montserrat-light;
}
.montserrat-semibold{
	font-family: montserrat-semibold;
}
.montserrat-regular{
	font-family: montserrat-regular;
}
.opensans-regular{
	font-family: opensans-regular;
}
.opensans-semibold{
	font-family: opensans-semibold;
}
.join-me{
	padding-top: 20px;
	opacity: 0.6;
	display: inline-block;
}
.join-me-img{
	opacity: 0.6;
	padding-left: 15px;
	width: 35%;
}
#footer{
	background-color: #37324b;
	padding-top: 50px;
}
.text-maria{
	color: #a3a1ac;
	font-family: montserrat-semibold;
	text-align: center;
	line-height: 0.5;
}
.text-ferrero{
	color: #fff;
	font-family: montserrat-light;
	text-align: center;
}
.garis-biru{
	border:2px solid #37a7ff;
	width: 55px;
	text-align: center;
}
.footer-img{
	padding-top: 50px;
	padding-bottom: 50px;
	opacity: 0.6;
	width: 200px;
	height: auto;
}
#footer-bawah{
	background-color: #322e45 !important;
	padding: 0px !important;
	text-align: center;
	padding-top: 20px !important;
	padding-bottom: 50px !important;
}
#footer-bawah h5{
	color: #a3a1ac;
	display: inline-block;
}
#footer-bawah i{
	padding: 0 8px 0 8px;
}
.link{
	display: inline-block;
	color: #fff !important;
	padding-left: 5px;
}
#lets-talk{
	background-image: url("../img/pat.png");
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}
#lets-talk .btn{
	margin-top: 30px;
	background-color: #37a7ff;
	padding: 10px 50px 10px 50px;
	border-radius: 25px;
	border:none;
}
#lets-talk h2{
	color: white;
	text-align: center;
}
.card{
	padding: 50px 30px 30px 30px;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 360px;
}
.judul-2{
	color: #4e4c58;
}
.works-judul{
	color: #7447ae !important;
	display: inline-block;
}
.judul-2-s{
	color: #4e4c58;
	display: inline-block;	
}
#work h1{
	color: #4e4c58;
}
.garis-ungu{
	border:2px solid #7447ae;
	width: 75px;
	float: left;
}
#work{
	position: relative;
	top: -70px !important;
}
.isi-card{
	padding-top: 30px;
}
.img-card{
	width: 40%;
	text-align: center center-horizontal !important;
	padding-bottom: 50px;
}
.branding{
	padding-top: 15px;
	color: #7447ae;
	padding-bottom: 20px;
}
.know-more{
	font-family: montserrat-semibolditalic;
	color: #acacac;
	padding-bottom: 20px;
}
.know-more .fas{
	padding-left: 10px;
}